* {
    margin: 0;
}

input {
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

input:-ms-input-placeholder {
    color: lightgray;
}

button {
    background-color: #677BC1;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #3a4779;
    cursor: pointer;
}